/*
*Cinnamon.css stuff
*Partially stolen from https://github.com/B00merang-Project/Windows-Whistler/blob/master/cinnamon/cinnamon.css and adapta-gtk-theme
*/

.notification-button:active, .notification-icon-button:active,
.hotplug-notification-item:active, .hotplug-resident-eject-button:active,
.modal-dialog-button:active, .modal-dialog-button:pressed {
  border-image: url('border-panelbutton-active') 5;
}
.notification-button:hover,
.notification-icon-button:hover, .hotplug-notification-item:hover,
.hotplug-resident-eject-button:hover, .modal-dialog-button:hover {
  border-image: url('button-prelight.png') 5;
}

.notification-button:focus,
.notification-icon-button:focus, .hotplug-notification-item:focus,
.modal-dialog-button:focus {
  border-image: url('button-pressed.png') 5;
}

.menu {
	padding: 0;
	background-gradient-end:  #1c3c5f;
	background-gradient-start:  #FFFF;
	background-gradient-direction: vertical;
	color: white
}
#panelLeft .applet-box:first-child {
  background: url("menu.png");
  border-image: none;
  background-position: center center;
  transition-duration: 300;
  width: 40px;
  background-color: inherit;
  color: rgba(255,0,0,0) !important;
}
#panelLeft .applet-box:first-child:hover {
  transition-duration: 200; background: url("menu2.png");
  border-image: none;
}

.switcher-list .item-box:selected {
  background-color: #92a7be;
}

.switcher-list .thumbnail {
  width: 256px;
}
.switcher-list .thumbnail-box {
  padding: 2px;
  spacing: 4px;
}

.grouped-window-list-thumbnail-label {
  padding-left: 4px;
}
.grouped-window-list-number-label {
  font-size: 0.9em;
  color: #FFFFFF;
  font-weight: 700;
}
.grouped-window-list-badge {
  border-radius: 256px;
  background-color: #000000;
}
.grouped-window-list-thumbnail-menu {
  padding: 2px;
  border: none;
  border-radius: 2px;
  color: #CFD8DC;
  background: black;
}

.toggle-switch-us, .toggle-switch-intl {
  background-image: url("checkbox-off.png");
}

.toggle-switch-us:checked, .toggle-switch-intl:checked {
  background-image: url("checkbox.png");
}
.check-box StBin {
  width: 24px;
  height: 18px;
  background-image: url("checkbox-off.png");
}

.check-box:focus StBin {
  background-image: url("checkbox-off-focus.png");
}

.check-box:checked StBin {
  background-image: url("checkbox.png");
}

.check-box:focus:checked StBin {
  background-image: url("checkbox-focus.png");
}

.check-box StLabel {
  font-weight: normal;
}

.radiobutton CinnamonGenericContainer {
  spacing: .2em;
  height: 26px;
  padding-top: 2px;
}

.radiobutton StBin {
  width: 22px;
  height: 22px;
  background-image: url("radio-unselected.png");
  border-radius: 15px;
}

.radiobutton:focus StBin {
  background-image: url("radio-unselected.png");
}

.radiobutton:checked StBin {
  background-image: url("radio-selected.png");
}

.radiobutton:focus:checked StBin {
  background-image: url("radio-selected.png");
}


#panelLeft .applet-box:first-child {
  font-style: bold;
  spacing-top: 2px;
  border-image: url('menu-applet.png') 10 12 10 12;
}

.workspace-close-button {
  background-image: url("close.png");
  height: 34px;
  width: 34px;
  -cinnamon-close-overlap: 20px;
}

.window-close:hover,
.window-close:active {
  background-image: url("close-hover.png");
}

#panel {
  color: #000;
  background-gradient-end:  #92a7be;
  background-gradient-start:  #f5f7f9;
  background-gradient-direction: vertical;
  font-weight: normal;
  height: 32px;
}
#notification {
  border: 1px solid #767676;
  border-radius: 3px;
  padding: 6px 12px;
  background-gradient-start: #ffffff;
  background-gradient-end: #e4e5f0;
  background-gradient-direction: vertical;
  color: black;
  font-size: 8.5pt;
  font-weight: normal;
  text-align: center;
  spacing-rows: 10px;
  spacing-columns: 10px;
  margin-from-right-edge-of-screen: 19px;
  margin-from-top-edge-of-screen: 30px;
  width: 27em;
}
.notification-button {
  border-radius: 18px;
  font-size: 11pt;
  padding: 4px 42px 5px;
  border-image: url('menu-applet.png') 5;
}